---
import Greeting from "../components/Greeting.jsx";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My blog's subtitle</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
